<div class = "container">

    <div class = "p-grid">
        <div class="p-col-12">
            <h1>Caixa</h1>
        </div>
    </div>


  <div class="p-grid">
      <div class="p-col-12">
          <p-table [value]="caixa" [paginator]="true" [rows]="5" [responsive]="true">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Saldo a receber</th>
                      <th>Saldo a pagar</th>
                      <th>Saldo atual</th>
                  </tr>
              </ng-template>

              <ng-template pTemplate='body' let-caixa>
                <tr>
                    <td>
                        <span class="p-column-title">{{caixa.saldo_a_receber}}</span>
                    </td>
                    <td>
                        <span class="p-column-title">{{caixa.saldo_a_pagar}}</span>
                    </td>
                    <td>
                        <span class="p-column-title">{{caixa.saldo_atual}}</span>
                    </td>

                    <td class="col-acoes">
                        <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                    </td>
                </tr>

            </ng-template>

             
          </p-table>
      </div>
  </div>
  
  
  </div>