<nav class="navbar">
    <div class="container">
      <div class="ui-g">
        <div class="ui-g-12">
            <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
  
            <!-- Botão utilizado apenas para testar funcionalidade que gera novo access token -->
           <!-- <button type="button" (click)="criarNovoAccessToken()">Novo access token</button> -->:
          </div>
      </div>
    </div>
  
    <ul class="navbar-menu" [hidden]="!exibindoMenu">
      <li class="navbar-usuario">{{ auth.jwtPayload?.nome }}</li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/login">Login</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"
        *ngIf="auth.temPermissao('ROLE_CADASTRAR_LANCAMENTO')"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"
        *ngIf="auth.temPermissao('ROLE_CADASTRAR_LANCAMENTO')"><a routerLink="/lancamentos">Lançamentos</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"
        *ngIf="auth.temPermissao('ROLE_PESQUISAR_USUARIO')"><a routerLink="/pessoas">Pessoas</a></li>
        <li class="navbar-menuitem" routerLinkActive="ativo"
        *ngIf="auth.temPermissao('ROLE_PESQUISAR_LANCAMENTO')"><a routerLink="/relatorios/lancamentos">Relatório</a></li>
      <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
    </ul>
  
  </nav>